<div class="flex justify-between items-center mt-8 mb-4">
  <h1 class="text-4xl dark:text-white">Tweets</h1>

  <% if current_user && !@tweets.to_a.empty? %>
    <%= link_to "Schedule a Tweet", new_tweet_path, class: 'bg-lightblue text-white py-3 px-4 rounded-lg cursor-pointer' %>
  <% end %>
</div>

<% if @tweets.to_a.empty? %>
  <div class="max-w-lg mx-auto mt-16 text-center max-w-sm">
    <h1 class="mb-8 text-black text-4xl">Your tweet list is empty</h1>
    <p class="mb-8 text-grey text-base">Looks like there are no tweets in your list at the moment.</p>
    <%= link_to "Let's schedule your first tweet!", new_tweet_path, class: 'bg-lightblue text-white py-3 px-4 rounded-lg cursor-pointer' %>
  </div>
<% else %>
  <%= render @tweets %>
<% end %>